openapi: 3.0.3
info:
  title: Mangopay REST Bank Accounts User Data Format API
  description: The Mangopay REST API enables platforms to manage users, e-wallets, pay-ins, payouts, transfers, foreign exchange, KYC/KYB identity verification, fraud prevention, and dispute handling for multi-party payment flows.
  version: '2.01'
  contact:
    name: Mangopay Support
    url: https://hub.mangopay.com
servers:
- url: https://api.mangopay.com/v2.01/{clientId}
  description: Production
  variables:
    clientId:
      default: your-client-id
      description: Your Mangopay Client ID
- url: https://api.sandbox.mangopay.com/v2.01/{clientId}
  description: Sandbox
  variables:
    clientId:
      default: your-client-id
      description: Your Mangopay Client ID
security:
- OAuth2: []
tags:
- name: User Data Format
paths:
  /users/data-formats/validation:
    post:
      tags:
      - User Data Format
      summary: Validate the format of User Data
      operationId: post_users_data_formats_validation
      parameters: []
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      description: '[https://mangopay.com/docs/endpoints/user-data-format#validate-user-data-format](https://mangopay.com/docs/endpoints/user-data-format#validate-user-data-format)'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              CompanyNumber:
                CompanyNumber: AB123456
                CountryCode: IT
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.mangopay.com/v2.01/{clientId}/oauth/token
          scopes: {}
