openapi: 3.0.3
info:
  title: Mangopay REST Bank Accounts UBO Declarations API
  description: The Mangopay REST API enables platforms to manage users, e-wallets, pay-ins, payouts, transfers, foreign exchange, KYC/KYB identity verification, fraud prevention, and dispute handling for multi-party payment flows.
  version: '2.01'
  contact:
    name: Mangopay Support
    url: https://hub.mangopay.com
servers:
- url: https://api.mangopay.com/v2.01/{clientId}
  description: Production
  variables:
    clientId:
      default: your-client-id
      description: Your Mangopay Client ID
- url: https://api.sandbox.mangopay.com/v2.01/{clientId}
  description: Sandbox
  variables:
    clientId:
      default: your-client-id
      description: Your Mangopay Client ID
security:
- OAuth2: []
tags:
- name: UBO Declarations
paths:
  /users/{userId}/kyc/ubodeclarations:
    post:
      tags:
      - UBO Declarations
      summary: Create a UBO Declaration
      operationId: post_users_userId_kyc_ubodeclarations
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      description: '[https://mangopay.com/docs/endpoints/ubo-declarations#create-ubo-declaration](https://mangopay.com/docs/endpoints/ubo-declarations#create-ubo-declaration)'
    get:
      tags:
      - UBO Declarations
      summary: List UBO Declarations for a user
      operationId: get_users_userId_kyc_ubodeclarations
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      description: '[https://mangopay.com/docs/endpoints/ubo-declarations#list-ubo-declarations-user](https://mangopay.com/docs/endpoints/ubo-declarations#list-ubo-declarations-user)'
  /users/{userId}/kyc/ubodeclarations/{uboDeclarationId}/ubos:
    post:
      tags:
      - UBO Declarations
      summary: Create a UBO
      operationId: post_users_userId_kyc_ubodeclarations_uboDeclarationId_ubos
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: string
      - name: uboDeclarationId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      description: '[https://mangopay.com/docs/endpoints/ubo-declarations#create-ubo](https://mangopay.com/docs/endpoints/ubo-declarations#create-ubo)'
  /kyc/ubodeclarations/{uboDeclarationId}:
    get:
      tags:
      - UBO Declarations
      summary: View a UBO Declaration
      operationId: get_kyc_ubodeclarations_uboDeclarationId
      parameters:
      - name: uboDeclarationId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      description: '[https://mangopay.com/docs/endpoints/ubo-declarations#view-ubo-declaration](https://mangopay.com/docs/endpoints/ubo-declarations#view-ubo-declaration)'
  /users/{userId}/kyc/ubodeclarations/{uboDeclarationId}/ubos/{uboId}:
    get:
      tags:
      - UBO Declarations
      summary: View a UBO
      operationId: get_users_userId_kyc_ubodeclarations_uboDeclarationId_ubos_uboId
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: string
      - name: uboDeclarationId
        in: path
        required: true
        schema:
          type: string
      - name: uboId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      description: '[https://mangopay.com/docs/endpoints/ubo-declarations#view-ubo](https://mangopay.com/docs/endpoints/ubo-declarations#view-ubo)'
    put:
      tags:
      - UBO Declarations
      summary: Update a UBO
      operationId: put_users_userId_kyc_ubodeclarations_uboDeclarationId_ubos_uboId
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: string
      - name: uboDeclarationId
        in: path
        required: true
        schema:
          type: string
      - name: uboId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      description: '[https://mangopay.com/docs/endpoints/ubo-declarations#update-ubo](https://mangopay.com/docs/endpoints/ubo-declarations#update-ubo)'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              FirstName: '{{$randomFirstName}}'
              LastName: '{{$randomLastName}}'
              Address:
                AddressLine1: '{{$randomStreetAddress}}'
                AddressLine2: '{{$randomStreetName}}'
                City: Paris
                Region: Ile-de-France
                PostalCode: '75001'
                Country: FR
              Nationality: FR
              Birthday: 652117514
              Birthplace:
                City: Paris
                Country: FR
              isActive: true
  /users/{userId}/kyc/ubodeclarations/{uboDeclarationId}:
    put:
      tags:
      - UBO Declarations
      summary: Submit a UBO Declaration
      operationId: put_users_userId_kyc_ubodeclarations_uboDeclarationId
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: string
      - name: uboDeclarationId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      description: '[https://mangopay.com/docs/endpoints/ubo-declarations#submit-ubo-declaration](https://mangopay.com/docs/endpoints/ubo-declarations#submit-ubo-declaration)'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              Status: VALIDATION_ASKED
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.mangopay.com/v2.01/{clientId}/oauth/token
          scopes: {}
