openapi: 3.0.3
info:
  title: Mangopay REST Bank Accounts Payouts API
  description: The Mangopay REST API enables platforms to manage users, e-wallets, pay-ins, payouts, transfers, foreign exchange, KYC/KYB identity verification, fraud prevention, and dispute handling for multi-party payment flows.
  version: '2.01'
  contact:
    name: Mangopay Support
    url: https://hub.mangopay.com
servers:
- url: https://api.mangopay.com/v2.01/{clientId}
  description: Production
  variables:
    clientId:
      default: your-client-id
      description: Your Mangopay Client ID
- url: https://api.sandbox.mangopay.com/v2.01/{clientId}
  description: Sandbox
  variables:
    clientId:
      default: your-client-id
      description: Your Mangopay Client ID
security:
- OAuth2: []
tags:
- name: Payouts
paths:
  /payouts/bankwire:
    post:
      tags:
      - Payouts
      summary: Create a Payout
      operationId: post_payouts_bankwire
      parameters: []
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      description: '[https://mangopay.com/docs/endpoints/payouts#create-payout](https://mangopay.com/docs/endpoints/payouts#create-payout)'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              AuthorId: '{{USER_LEGAL_OWNER}}'
              Tag: Created using Mangopay API Postman Collection
              DebitedFunds:
                Currency: '{{CURRENCY}}'
                Amount: 100
              Fees:
                Currency: '{{CURRENCY}}'
                Amount: 10
              BankAccountId: '{{RECIPIENT_PAYOUT_ID}}'
              DebitedWalletId: '{{USER_LEGAL_OWNER_WALLET_ID}}'
              BankWireRef: Postman
  /payouts/reachability:
    post:
      tags:
      - Payouts
      summary: Check Instant Payout Eligibility
      operationId: post_payouts_reachability
      parameters: []
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      description: '[https://mangopay.com/docs/endpoints/payouts#create-payout](https://mangopay.com/docs/endpoints/payouts#create-payout)'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              PayoutModeRequested: INSTANT_PAYMENT
              AuthorId: '{{USER_LEGAL_OWNER}}'
              Tag: Created using Mangopay API Postman Collection
              DebitedFunds:
                Currency: '{{CURRENCY}}'
                Amount: 100
              Fees:
                Currency: '{{CURRENCY}}'
                Amount: 10
              BankAccountId: '{{RECIPIENT_PAYOUT_ID}}'
              DebitedWalletId: '{{USER_LEGAL_OWNER_WALLET_ID}}'
              BankWireRef: Postman
  /payouts/{payoutId}:
    get:
      tags:
      - Payouts
      summary: View a Payout
      operationId: get_payouts_payoutId
      parameters:
      - name: payoutId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      description: '[https://mangopay.com/docs/endpoints/payouts#view-payout](https://mangopay.com/docs/endpoints/payouts#view-payout)'
  /payouts/bankwire/{payoutId}:
    get:
      tags:
      - Payouts
      summary: View a Payout and check mode applied
      operationId: get_payouts_bankwire_payoutId
      parameters:
      - name: payoutId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      description: '[https://mangopay.com/docs/endpoints/payouts#view-payout-check-mode-applied](https://mangopay.com/docs/endpoints/payouts#view-payout-check-mode-applied)'
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.mangopay.com/v2.01/{clientId}/oauth/token
          scopes: {}
