openapi: 3.0.3
info:
  title: Mangopay REST Bank Accounts IDV Sessions (hosted KYC API
  description: The Mangopay REST API enables platforms to manage users, e-wallets, pay-ins, payouts, transfers, foreign exchange, KYC/KYB identity verification, fraud prevention, and dispute handling for multi-party payment flows.
  version: '2.01'
  contact:
    name: Mangopay Support
    url: https://hub.mangopay.com
servers:
- url: https://api.mangopay.com/v2.01/{clientId}
  description: Production
  variables:
    clientId:
      default: your-client-id
      description: Your Mangopay Client ID
- url: https://api.sandbox.mangopay.com/v2.01/{clientId}
  description: Sandbox
  variables:
    clientId:
      default: your-client-id
      description: Your Mangopay Client ID
security:
- OAuth2: []
tags:
- name: IDV Sessions (hosted KYC
paths:
  /users/{userId}/identity-verifications:
    post:
      tags:
      - IDV Sessions (hosted KYC
      summary: Create an IDV Session
      operationId: post_users_userId_identity_verifications
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              Tag: Created using the Mangopay API Postman collection
              ReturnUrl: https://docs.mangopay.com/please-ignore
    get:
      tags:
      - IDV Sessions (hosted KYC
      summary: List IDV Sessions for a User
      operationId: get_users_userId_identity_verifications
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /identity-verifications/{idvSessionId}:
    get:
      tags:
      - IDV Sessions (hosted KYC
      summary: View an IDV Session
      operationId: get_identity_verifications_idvSessionId
      parameters:
      - name: idvSessionId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.mangopay.com/v2.01/{clientId}/oauth/token
          scopes: {}
